<!-- Sign-Up Form Section -->
<div class="w-full max-w-lg  bg-[#101a1b]  p-8 rounded-lg shadow-lg my-10">
  <form id="signUpForm" name="signUpForm" novalidate>
    <h2 class="text-2xl font-bold text-white mb-6 text-center">
      Create Your Account
    </h2>
    <!-- Email Input -->
    <div class="mb-4">
      <label for="email" class="block text-medium font-semibold text-white"
        >Email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        ng-model="user.email"
        class="mt-2 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base"
        ng-required="true"
        ng-model-options="{updateOn: 'blur'}"
        valid-email
      />
      <p
        class="text-red-500 text-sm mt-1"
        ng-show="signUpForm.email.$dirty && signUpForm.email.$error.required"
      >
        Email is required.
      </p>
      <p
        class="text-red-500 text-sm mt-1"
        ng-show="signUpForm.email.$dirty && signUpForm.email.$error.email"
      >
        Invalid email format.
      </p>
    </div>

    <!-- Password Input -->
    <div class="mb-6">
      <label
        for="password"
        class="block text-medium font-semibold text-white"
        >Password</label
      >
      <input
        type="password"
        id="password"
        name="password"
        ng-model="user.password"
        class="mt-2 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base"
        ng-required="true"
        ng-model-options="{debounce: 500}"
        strong-Password
      />
      <p
        class="text-red-500 text-sm mt-1"
        ng-show="signUpForm.password.$dirty && signUpForm.password.$error.required"
      >
        Password is required.
      </p>
      <p
        class="text-red-500 text-sm mt-1"
        ng-show="signUpForm.password.$dirty && signUpForm.password.$error.strongPassword"
      >
        Password isn't strong.
      </p>
    </div>
    <p class="flex items-center justify-center my-2 text-red-500 text-sm mt-1" ng-show="isError">{{submiterror}}</p>
    <!-- Sign-Up Button -->
    <div class="mb-6 flex flex-col gap-2">
      <button
        type="button"
        class="w-full text-white font-bold py-3 px-4 rounded-md shadow-md transition-transform transform"
        ng-class="{
          'bg-indigo-500 hover:bg-indigo-600 hover:scale-105 cursor-pointer': !signUpForm.$invalid,
          'bg-gray-400 cursor-not-allowed': signUpForm.$invalid
        }"
        ng-disabled="signUpForm.$invalid"
        ng-click="submitForm()"
      >
        Sign Up
      </button>
      <button
        type="button"
        class="w-full text-white font-bold py-3 px-4 rounded-md shadow-md transition-transform transform bg-red-500 hover:bg-red-600 cursor-pointer"
        ng-click="cancel()"
      >
        cancel
      </button>
    </div>
  </form>
  <!-- Login Link -->
  <div class="mt-6 text-center">
    <p class="text-white">
      Already have an account?
      <a ui-sref="login" class="text-indigo-500 font-semibold underline"
        >Login</a
      >
    </p>
  </div>
</div>
